/* 전체 페이지 스타일링 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* 파란색 박스 스타일링 */
  .blue-box {
    background-color: #3498db; /* 파란색 */
    padding: 30px;
    border-radius: 8px;
    margin: 20px;
  }
  
  /* 메인 소개글 스타일링 */
  .main-introduction {
    text-align: center;
    color: #fff; /* 흰색 텍스트 */
  }

  .image-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .image-card {
    width: 18%;
    margin-bottom: 20px;
    text-align: center;
  }

  .image-card img {
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: 20px;
  }

  /* 모달 스타일링 */
  .modal-img-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-img-header img {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
  }
